.mx-auto.w-full{:class => "md:w-2/3"}
  %h1.font-bold.text-4xl New boat model
  = render "form", boat_model: @boat_model
  = link_to 'Back to boat models', boat_models_path, class: "my-5 rounded-lg py-3 px-5 bg-gray-100 inline-block font-bold text-gray-500 hover:bg-gray-200 no-underline"
