- if notice.present?
  %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
.mx-auto.py-4.w-full{:class => "md:w-10/12"}
  %h1.py-10 Estimates
  = link_to 'New estimate', new_estimate_path, class: "px-4 py-2 bg-green-500 text-white rounded no-underline"
    
  #estimates.min-w-full
    = render @estimates
