.mx-auto.py-12.w-full{:class => "md:w-2/3"}
  %h1.font-bold.text-4xl Editing Customer
  %div.flex.space-x-4
    = link_to 'View', @customer, class: "my-5 rounded-lg py-3 px-5 bg-gray-100 inline-block font-bold text-gray-500 hover:bg-gray-200 no-underline"
    = button_to 'Delete Customer', customer_path(@customer), method: :delete, data: { confirm: 'Are you sure?' }, class: "my-5 rounded-lg py-2 px-4 bg-red-300 inline-block font-bold text-red-500 hover:bg-red-400 no-underline"

  = render 'form', customer: @customer

  .my-6
    = link_to 'Back', customers_path, class: "px-4 py-2 bg-blue-500 text-white rounded no-underline"
