@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@media print {

  * {
    -webkit-print-color-adjust: exact; /* Chrome, Safari */
    color-adjust: exact; /* Firefox */
  }

  hr {
    margin-top: 9px !important;    /* Adjust as needed */
    margin-bottom: 9px !important; /* Adjust as needed */
  }

  /* Hide edit and back buttons */
  .print-hidden {
    display: none;
  }

  .print-py {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }

  .print-signature {
    margin-top: 30px !important;
  }

  /* Adjust layout and spacing */
  body {
    padding: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: black;
  }

  p, span, div {
    color: black;
    font-size: 12px;
  }
}



.search-results {
  position: absolute;
  z-index: 1000;
  width: 50%;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border-top: none;
}

.search-result-item {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-result-item strong {
  display: block;
}

.search-result-item:hover {
  background-color: #f7f7f7;
}

.search-results--active {
  box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
  border: 1px solid #ddd;
}

.selected-customer-info {
  margin-top: 10px;
}
